@import "./Components/Header/index";
@import "./Components/Error/index";
@import "./Components/Confirmed/index";
@import "./Components/Menu/index";
@import "./Pages/Addnews/index";
@import "./Pages/News/index";
@import "./Pages/Addsport/index";
@import "./Pages/Sport/index";

.page__title {
  font-family: $titleFont;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background-color: #222222;
  width: 100%;
  height: 216px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.addbutton {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 60px;
  height: 60px;
  background-color: $colorGeneral;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  text-decoration: none;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);

  &:hover {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  }

  &:active {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  }
}
